<h1>Famo.us Skier!!!!!</h1>

<fa-app class="full-screen">

<fa-modifier  fa-scale="[1, 1]"  >
  <!-- Container modifier, which we're rotating over the y axis -->


<fa-modifier fa-size="[undefined, 500]" fa-origin="[.5,.5]" fa-aligin="[0,0]" fa-rotate-z="slopeRad.rad">

    <!-- famous logo spinner -->
    <fa-modifier fa-origin="[.5, .2]" fa-rotate-y="rotateY.get()">
      <!-- Front face -->
      <fa-surface fa-size="[true, true]" fa-color="'rgb(255,255,250)'">
        <img class="logo" src="images/famous-logo.svg" style="width: 200px; height: 200px;"/>
      </fa-surface>

      <!-- Back face:  same image, rotated pi radians -->
      <fa-modifier fa-rotate-y="3.14159">
        <fa-surface fa-size="[true, true]" fa-color="'rgb(255,255,250)'">
          <img class="logo" src="images/famous-logo.svg" style="width: 200px; height: 200px;" />
        </fa-surface>
      </fa-modifier>
    </fa-modifier>


  <!-- stickman body -->
  <fa-modifier fa-origin="[.5, .5]">
    <fa-surface fa-size="[true, true]">
      <img src="images/stickman.svg" style="width: 200px; height: 200px;" />
    </fa-surface>
  </fa-modifier>


  <!-- ground -->
   <!--  <fa-modifier fa-origin="[1, 1]" >
  <fa-surface fa-background-color="'orange'" fa-color="'#fff'" fa-origin="[.5, 0]"  fa-size="[undefined, 200]">
      This text should be white.
  </fa-surface>
  </fa-modifier> -->
  <fa-modifier fa-origin="[0, 1]" fa-align="[-0.5,1.1]">
    <fa-surface fa-background-color="'white'" fa-color="'#000'"   fa-size="[2000, 200]">
    </fa-surface>
  </fa-modifier>


</fa-modifier>

  <fa-modifier fa-origin="[.5, .9]" fa-size="[300, 100]">
    <fa-surface>
      <input style="width: 100%; text-align: center;" type="range" min="10" max="100" ng-model="spinner.speed" />
          <h1>speed: {{spinner.speed}}</h1>
    </fa-surface>
  </fa-modifier>
  <fa-modifier fa-origin="[.5, 1]" fa-size="[100, 100]">
    <fa-surface>
<!--       <input style="width: 100%; text-align: center;" type="range" min="0" max=".90" ng-model="slope.angle" /> -->
          <input style="width: 100%; text-align: center;" type="range" min="0" max="90" ng-model="slope.angle" ng-change="degToRad()"/>
          <!-- <p>slope: {{slope.angle}}, rad {{slopeRad.rad}}</p> -->
    </fa-surface>
  </fa-modifier>
</fa-modifier>
</fa-app>
